

.project {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 2rem;
  padding-top: 5.5rem;
}

.project__card {
  background-color: #ffffff;
  border: 2px solid #c1d1dc;
  border-radius: 15px;
  width: 370px;
  margin: 250px;
  height: 470px;
  position: relative;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.project__card img {
  height: 250px;
  position: relative;
  text-align: center;
  margin: 9px;
  left: 12px;
  border-radius: 10px; 
  margin-bottom: 20px;
  display: block;
  margin-top: 20px;
}

.project__title {
  margin: 9px;
  font-weight: 500;
  color: #0e2632;
  text-align: center;
  font-size: 24px;
}

.project__desc {
  max-width: 400px;
  font-size: 16px;
  line-height: 1.6;
  color: #a5aeb9;
  margin-bottom: 1rem;
  text-align: justify;
}

.techs {
  color: var(--font-color-1);
  font-size: var(--font-size--);
  margin-bottom: 1rem;
  text-align: justify;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  width: 100%;
  margin-top: auto;
}

.git-btn {
  background-color: #5d35bb;
  color: #fff;
  border: none;
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 50px;
}

.git-btn:hover {
  background-color: var(--button-hover-bg-color);
  opacity: var(--btn-opacity);
}

.visit-btn {
  background-color: transparent;
  color: #fff;
  border: 1px solid #5d35bb;
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 50px;
}

.visit-btn:hover {
  background-color: #8b5eff;
  opacity: var(--btn-opacity);
}

.container {
  width: 100%;
  max-width: 800px;
}

.filter-btn {
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  height: auto;
  width: fit-content;
  justify-content: var(--button-justify-content);
  border: none;
  border-radius: 8px;
  padding: 2px;
  margin: 5px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.project__card .image {
  margin-top: 12px;
  text-align: center;
}

.project__card .anchor {
  color: #278bff;
  text-decoration: none;
  background-color: #e0efff;
  padding: 10px 10px;
  border-radius: 50px;
  text-align: center;
  margin-top: 30px;
}

.project__card .anchor:hover {
  cursor: pointer;
}
