/* Container styles */
.about__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    column-gap: 4rem;
}

/* Image styling */
.about__img {
    width: 250px;
    border-radius: 1.5rem;
    justify-self: center;
}

/* Information box grid */
.about__info {
    grid-template-columns: repeat(3, 170px);
    gap: 0.5rem;
    margin-bottom: 2rem;
}

/* Box styling */
.about__box {
    background-color: var(--first-container-background);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.75rem;
    text-align: center;
    padding: 1rem 1.25rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Hover effect for about__box */
.about__box:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

/* Icon styling */
.about__icon {
    font-size: 1.5rem;
    color: var(--font-color-1);
    margin-bottom: 0.5rem;
    transition: transform 0.3s ease, color 0.3s ease;
}

/* Hover effect for icons */
.about__icon:hover {
    color: #6a5acd; /* Change icon color on hover */
    transform: scale(1.2); /* Enlarge the icon */
}

/* Title and subtitle */
.about__title {
    font-size: medium;
    font-weight: var(--font-medium);
}

.about__subtitle {
    font-size: small;
}

/* Description styling */
.about__description {
    padding: 0 4rem 0 0;
    margin-bottom: 2.5rem;
}

/* CV button */
.cv-btn a {
    color: #ffff;
    text-decoration: none;
}

.cv-btn:hover {
    background-color: var(--button-hover-bg-color);
    transform: scale(1.05);
}

.cv-btn {
    display: flex;
    border: var(--button-border);
    border-radius: var(--button-border-radius);
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
    width: fit-content;
    height: var(--button-height);
    padding: var(--button-padding);
    justify-content: var(--button-justify-content);
    align-items: var(--button-align-items);
    transition: all 0.3s ease;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: var(--font-size-about);
}

.cv-btn:hover {
    background-color: var(--button-hover-bg-color);
    opacity: var(--btn-opacity);
}

/* Responsive styling for smaller screens */
@media screen and (max-width: 768px) {
    .about__container {
        grid-template-columns: 1fr;
        row-gap: 2.5rem;
    }

    .about__img {
        padding: 0.75rem 0.5rem;
    }

    .about__data {
        text-align: center;
    }

    .about__info {
        justify-content: center;
    }

    .about__description{
        padding: 0 5rem;
        margin-bottom: 2rem;
    }
}

/* Media queries for smaller breakpoints */
@media screen and (max-width: 576px) {
    .about__info{
        grid-template-columns: repeat(3,1fr);

    }

    .about__description{
        padding: 0;

    }
}

@media screen and (max-width: 350px) {
  .about__info{
    grid-template-columns: repeat(2,1fr);
  }
}
