 .header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;   
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 

   
}


.logo {
    display: flex;

}

.nav {
    height: var(  --header-height);
    display: flex;
 justify-content: space-between;
    align-items: center;
    column-gap: 2rem;
}

.nav-list {
   
    display: flex;
    column-gap: 2rem;
    list-style: none;

    font-size: var( --btn-font-size);
}

.nav__toggle {
    display: none; 
}

.nav__toggle {
    cursor: pointer; 
    padding: 0.5rem; 
    transition: transform 0.3s ease; 
}


.nav__toggle i {
    font-size: 2rem; 
    color: var(--font-color-2); 
    transition: color 0.3s ease; 
}

.nav__toggle:hover i {
    color: var(--hover-color); 
    transform: scale(1.1); 
}

.nav__link {
    position: relative;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--font-color-2);
    transition: color 0.4s;
}

.nav__link::after {
    content: '';
    display: block;
    width: 0;
    height: 3px; 
    background: var(--primary-font-color); 
    transition: width 0.4s;
    position: absolute;
    left: 50%;
    bottom: -5px; 
    transform: translateX(-50%);
}

.nav__link:hover::after {
    width: 100%;
}

.nav__link:hover {
    color: var(--hover-color); 
}

.nav-list.active {
    display: flex; 
}


@media screen and (max-width: 768px) {
    .nav-list {
        display: none; 
        flex-direction: column; 
        width: 100%; 
        padding: 1rem; 
        background: rgba(255, 255, 255, 0.9); 
        position: absolute; 
        top: 4.5rem; 
        left: 0; 
        pointer-events: auto;
    }

    .nav-list.active {
        display: flex; 
    }

    .nav__link {
        padding: 0.5rem 0;
        transition: color 0.4s, background-color 0.4s; 
    }

    .nav__link:hover {
        color: var(  --primary-font-color); 
        background-color: rgba(0, 0, 0, 0.1); 
    }
    
    .nav__toggle {
        display: block; 
        cursor: pointer; 
        margin: 1rem 0; 
    }

    .logo {
       font-size: var(  --normal-font-size);
    
    }
}
 